* {
  box-sizing: border-box;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App h1 {
  font-size: 4rem;
  text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
  border-radius: 3px;
  width: 20%;
  margin-left: 5%;
}

label {
  width: 50%;
  padding: 2% 0;
}

input,
textarea {
  width: 80%;
  border-radius: 4px;
  box-shadow: none;
  padding: 2% 0;
}

button {
  width: 25%;
  padding: 2% 0;
  margin: 2% 0;
  border-radius: 4px;
  background-color: dodgerblue;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
}

.team-info {
  width: 100%;
}

.info {
  margin-bottom: 20%;
  border: 1px solid dodgerblue;
  text-align: left;
}
